.contact.section {
  padding-bottom: 6.25rem;
}

.contact__intro {
  max-width: 36rem;
  margin-bottom: 2.5rem;
}

.contact__title {
  margin-bottom: 0.7rem;
}

.contact__details {
  margin-bottom: 1.25rem;
}

.contact__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.contact__card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1.5rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.contact__card:hover {
  color: var(--first-color);
}

.contact__icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.contact__label {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.contact__value {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

.contact__card:hover .contact__value {
  color: var(--first-color);
}

@media screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: 1fr;
  }

  .contact__intro {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
